bin/
obj/
/packages/
/artifacts/
/artifacts/audit/*.json
/publish/

.idea/
.vs/
riderModule.iml
_ReSharper.Caches/
*.DotSettings.user

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
*.nupkg
*.snupkg

